[Unit]
Description=Raspberry Pi DHT11 Flask Server
After=network.target

[Service]
# Use full path to Python inside venv
ExecStart=/home/jackson/rpi-py-server/venv/bin/python /home/jackson/rpi-py-server/server.py
WorkingDirectory=/home/jackson/rpi-py-server

# Environment setup so it can find installed packages
Environment="PATH=/home/jackson/rpi-py-server/venv/bin"
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH=/home/jackson/rpi-py-server/venv/lib/python3.11/site-packages"

StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

# If your DHT sensor needs GPIO, root is safest
User=root

[Install]
WantedBy=multi-user.target
